p На сайте imit-omsu.ru был произведён запрос на восстановление пароля для вашего email адреса #{email}
p Если вы хотите восстановить пароль, проследуйте по ссылке, где вам будет предложено установить новый пароль.
p
  a(href="#{restoreLink}") Восстановление пароля
p Если запрос на восстановление пароля был сделан не вами, просто проигнорируйте это письмо

