body {
    margin: 0;
    padding: 0;
    background-color: #FFFCF9;
    text-align: center;
}
/*
    header style
*/
#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 368px;
    background-image: url(../img/header_bg.png);
}
.header__light {
    position: relative;
    margin: -25px 489px;
    width: 2px;  
    height: 2px;
    background-color: #FFF;
    border-radius: 100px;
    box-shadow: 0 0 285px 284px rgba(203, 187, 224, 0.34);
}
.header-bottom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 19px;
    background-image: url(../img/header_bottom.png);
}
.header__content {
   position: relative;
   margin: 0 auto;
   padding: 0;
   width: 980px;
   height: 380px;
}
.header__social {
    position: relative;
    margin: 51px 0px 0px 0px;
    padding: 0;
    float: right;
    clear: left;
    display: inline-block;
}
.social__button {
    margin: 0 6px;
    padding: 0px;
    float: right;
    height: 29px;
    width: 29px;
    background-color: #403B52;
    border-radius: 29px;
    box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.75), 0 0 5px 0px rgba(255, 255, 255, 0.2);  
    display: block;
}
.social__button:hover {
   background-color: #8D95AC;
}
.social__button__logo {
    margin: 8px auto;
}
#logo {
    position: relative;
    margin: 0px auto;
    margin-bottom: 95px;
    padding: 0;
    top: 20px;
    clear: both;
    display: block;
}
.header__title1 {
    position: relative;
    margin: 0px auto;
    padding: 0;
    clear: right;
    width: 480px;
    font: 15px RobotoRegular;
    color: #ffe2cc;
    top: -27px;
}

.header__title2  {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 666px;
    font: 23px PTSerifRegular;
    color: #ffe2cc;
    top: -18px;
}
.menu {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    /* clear: left; */
}
.menu-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu-item__button {
    color: #ffe2cc;
    font: 16px RobotoLight;
    margin: 0;
    margin-right: 14px;
    padding: 0px 32px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    background-color: #403b52;
    /* width: auto; */
    height: 50px;
    border-radius: 25px;
    box-shadow: inset #222 0 0 6px 1px, rgba(255, 255, 255, 0.26) 0 0 8px 0px;
    text-align: center;
    line-height: 51px;
    cursor: pointer;
}
.menu-item__button__active-page {
    box-shadow: inset #222 0 0 6px 1px, rgba(255, 255, 255, 0.4) 0 0 21px 0px;
}
.menu-item__button:hover {
    background-color: #343045;
    /*box-shadow: inset rgba(255, 255, 255, 0.26) 0 0 6px 1px, rgba(255, 255, 255, 0.26) 0 0 8px 0px;*/
}
#hope__study {
    color: #ffce80;
}
.header__contacts {
    text-align: left;
    position: relative;
    float: right;
    /* clear: right; */
}
.text-contacts {
    color: #ffe2cc;
    font: 14px RobotoRegular;
    margin: 0;
}
.number-contacts {
    color: #ffe2cc;
    font: 21px RobotoRegular;
    margin: 0;
}
/*
    content style
*/
#content {    
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 980px;
    height: auto;    
}
/*
    slider
*/
.left-slide {
    width: 80px; 
    height: 513px;
    float: left;
}
.right-slide {
    background-position: center;
    width: 80px;
    height: 513px;
    float: right;
}

.left-slide:hover, .right-slide:hover {
    background-color: #AAA;
}
.left-arrow {
    position: relative;  
    top: 194px;
}
.right-arrow {
    position: relative; 
    top: 196px;
}
.stories-slider {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: block;
}
.story-slide {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    display: block;
    height: 513px;
    width: 820px;
    overflow: hidden;
}
.story-slider__photo {
    margin: 0;
    margin-top: 53px;
    margin-left: 32px;
    margin-right: 50px;
    padding: 0;
    width: 398px;
    height: 398px;
    border-radius: 210px;
    background-color: #AAA;
    float: left;
}
.story-slider__info {
    width: 340px;
    position: relative;
    margin: 0; 
    padding: 0; 
    text-align: left;
    top: 90px;
    display: inline-block;
}
.story-slider__citation {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font: 32px PTSerifItalic;
    color: #5A4866;
    
    display: inline;
}
.story-slider__name {
    margin: 0;
    padding: 0;
    font: 18px RobotoRegular;
    display: inline;
}
.story-slider__about {
    margin: 0;
    padding: 0;
    font: 14px RobotoLight;
    color: #3b3544;
    display: inline;
}
.story-slide__all-stories {
    margin: 0;
    padding: 0;
    font: 16px RobotoRegular;
    color: #a07d61;
    display: inline;
}
/*
    main text
*/
.content__line {
    position: relative;
    height: 1px;
    margin: 0px 80px;
    background-color: #d0bdae;
    border: 0;
}
.main-text__title {
    font: 42px PTSerifRegular;
    color: #444444;
}
.main-text__info {
    margin: 0px 80px;
    text-align: left;
    font: 20px RobotoLite;
    color: #444444;
}

.branches-tiitle {
   font: 38px PTSerifRegular;
   color: #444444; 
}

.branches {
    margin: 0;
    padding: 0;
    width: 980px;
    height: 400px;
    background-image: url(../img/header_bg.png);
    overflow: hidden;
}

.branches-list {
    position: relative;
    top: 89px;
    margin: 0px auto;
    padding: 0;
    list-style: none; 
    display: inline-block;
}

.branches-list__item {
    position: relative;
    margin: 0;
    padding: 0;
    width: 321px;
    display: block;
    float: left;
    text-align: center;
}

.branches-list__img {
    position: relative;
    margin: 0px auto;
    padding: 53px 0px;
    width: 156px;
    height: 49px;
    background-color: #FFF;
    border-radius: 100px;
}

.branches-list__title {
    font: 21px PTSerifBold;
    color: #FFF; 
    overflow: hidden;
}

.branches-list__text {
    font: 14px RobotoLigth;
    color: #FFF; 
    overflow: hidden;
}

.info {
    margin: 54px 0px;
    
}
.info__header {
    font: 27px RobotoRegular;
    text-align: left;
}

.info__text {
    font: 20px RobotoLigth;
    text-align: left;
}

.stories-list {
    position: relative;
    margin: 50px 0px;
    padding: 0px;
    list-style: none;
    display: block;
}

.stories-list__item {
    position: relative;
    margin: 30px auto;
    padding: 0;
    width: 321px;
    height: 280px;
    overflow: hidden;
    display: block;
    float:  left;
    border-right: 1px solid #d1ccd0;
    cursor: pointer;
}
.stories-list__item-last {
    border: 0;
}

.stories-list__citation {
    margin: 0;
    padding: 0;
    /* height: 42px; */
    font: 24px PTSerifItalic;
    color: #5A4866;
}

.stories-list__photo {
    margin: 17px auto;
    width: 109px;
    height: 109px;
    border-radius: 100px;
    background-color: #AAA;  
    display: block;
}

.stories-list__name {
    margin: 0;
    padding: 0;
    font: 15px PTSerifBold;
    color: #3A3443;
}

.stories-list__about {
    margin: 0;
    padding: 0;
    font: 15px RobotoLigth;
    color: #544F5B;
}

.all-stories {
    clear: both;
    position: relative;
    color: #ffe2cc; 
    font: 20px RobotoLight; 
    margin: 74px auto;  
    padding: 0; 
    display: block; 
    text-decoration: none; 
    /* overflow: hidden; */ 
    background-color: #403b52; 
    width: 245px; 
    height: 50px; 
    border-radius: 25px; 
    box-shadow: inset #222 0 0 6px 1px, #AAA 0 0 8px 0px; 
    text-align: center; 
    line-height: 51px; 
    cursor: pointer; 
}

.all-stories:hover {
     background-color: #343045;
}
/*
    footer style
*/
#footer {
    margin: 0;   
    width: 100%;
    height: 249px;
    background-image: url(../img/header_bg.png);
}

.footer__content {
   position: relative;
   margin: 0 auto;
   padding: 0;
   width: 980px;
   height: auto;
}

.footer__contacts {
    margin: 35px 0px;
    text-align: left;
    position: relative;
    float: left;
}

.footer__social {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
}

.footer__anotation {
    margin: 41px 0px;
    position: relative;
    float: right;
    font: 14px RobotoRegular;
    color: #D3BBAB;
}

@media (max-width: 980px) {
    #header {
        width: 980px;
    }
    #footer {
        width: 980px;
    }
    .header-bottom {
        width: 980px;
    }
}