/*
    Title styles 
*/
h3 {
    text-align: center;
    font: 48px PTSerifRegular;
    color: #444444;
}

h4{
    font: 30px RobotoRegular;
    text-align: left;
    color: #444444;
}
/*
    Text style
*/
p{
    text-align: left;
    font: 20px RobotoLight;
    color: #444444;
}
p a{
    color: #A07D63; //определяет цвет ссылок на веб-странице (цвет по умолчанию синий, #0000FF).
    // A:active — цвет активной ссылки. Цвет ссылки меняется при нажатии на ней кнопки мыши. Цвет по умолчанию красный, #FF0000.
    //A:visited — цвет уже посещенных ссылок. Цвет по умолчанию фиолетовый, #800080.
}
/*
    начертания
*/
p b {
    ext-align: left;
    font: 20px RobotoMedium;
    color: #444444;
}