/*
    Title styles 
*/
h3 {
    text-align: center;
    font: 38px PTSerifRegular;
    color: #444444;
}

h4{
    font: 30px RobotoRegular;
    text-align: left;
    color: #444444;
}
.list-chair {
    text-align: left;
    font: 30px PTSerifRegular;
    color: #444444;
    cursor: pointer;
}
.list-chair:hover {
    text-align: left;
    font: 30px PTSerifRegular;
    color: #444444;
    text-decoration: underline;
}
/*
    Text style
*/
li {
    font-size: 28px;
    color: #d8b37e;
    margin: -13px -12px;
}

p{
    text-align: left;
    font: 20px RobotoLight;
    color: #444444;
}
p a{
    color: #A07D63; //определяет цвет ссылок на веб-странице (цвет по умолчанию синий, #0000FF).
    // A:active — цвет активной ссылки. Цвет ссылки меняется при нажатии на ней кнопки мыши. Цвет по умолчанию красный, #FF0000.
    //A:visited — цвет уже посещенных ссылок. Цвет по умолчанию фиолетовый, #800080.
}
/*
    начертания
*/
p b {
    text-align: left;
    font: 20px RobotoMedium;
    color: #444444;
}
/*
    список историй
*/
.stories-list__item h3 {
   margin: 0px 10px;
   padding: 0;
   font: 24px PTSerifItalic;
   color: #5A4866; 
}
.stories-list__item h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 15px PTSerifBold;
    color: #3A3443;
}
.stories-list__item p {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 15px RobotoLigth;
    color: #544F5B;
}
/*
    slider
*/
.story-slider__info h3 {
   text-align: left;
   margin: 0;
   padding: 0;
   font: 32px PTSerifItalic;
   color: #5A4866; 
}
.story-slider__info h4 {
    text-align: left;
    margin: 0;
    padding: 0;
    font: 18px RobotoRegular;
    color: #3A3443; 
}
.story-slider__info p {
    text-align: left;
    margin: 0;
    padding: 0;
    font: 14px RobotoLigth;
    color: #544F5B;
}
.story-slider__info a {
    text-align: left;
    margin: 0;
    padding: 0;
    font: 16px RobotoRegular;
    color: #a07d61;
    display: inline;
}

.branches-list__item h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 21px PTSerifBold;
    color: #FFF; 
    overflow: hidden;
}

.branches-list__item p {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 14px RobotoLigth;
    color: #FFF; 
    overflow: hidden;
}

.all-story__avatar h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 15px PTSerifBold;
    color: #3A3443;
}

.all-story__avatar p {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 15px RobotoLigth;
    color: #544F5B;
}

.all-story__story h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 24px PTSerifItalic;
    color: #5A4866;
}
.all-story__story p {
    font: 17px RotbotoLight;
    color: #3A3443;
}
.all-story__story p b {
    font: 22px RotbotoMedium;
    color: #3A3443;
}

.article h3 {
    font: 21px PTSerifBold;
    
} 
.article h4 {
    font: 26px RobotoMedium;
    color: #3A3443;
    text-align: center;
} 
.article h5 {
    font: 22px RobotoLight;
    color: #3A3443;
} 
.article p {
    margin: 0;
    font: 18px RobotoLight;
    color: #3A3443;
    
    line-height: 28px;
} 
.article p b {
    /* margin: 0; */
    font: 18px RobotoMedium;
    color: #3A3443;
    
} 
.article ul {
    position: relative;
    margin: 0; 
    margin-left: 20px;
    list-style-type: disc;
    
} 
.article-col ul {
    line-height: 45px;
}
.article li {
    position: relative;
    font-size: 28px;
    color: #d8b37e;
} 
.article li p {
    font: 16px RobotoLight;
    color: #3A3443;
} 
.article li p b {
    font: 16px RobotoMedium;
    color: #3A3443;
} 
.article-col {
    position: relative; margin: 0; padding: 0; 
    width: 448px;   
    
    float: left;
}