extends ../../layouts/restricted-layout

block append head
  title="Контрольная панель администратора системы"

block content
  .col-sm-12
    div(style="height:50px")
    if errors.error
      .alert.alert-danger #{errors.error}
    .js-tabs-panel.row
      .col-xs-12.col-sm-2.no-padding-left
        .panel.panel-info
          .panel-heading Администраторская часть

          div.list-group
            a.list-group-item.active(href="#graduates-list", data-toggle="tab") Список выпускников
            a.list-group-item(href="#add-graduate", data-toggle="tab") Добавить выпускника
            a.list-group-item(href="logout") Выйти
      .col-xs-12.col-sm-10.pull-right.tab-content.no-padding-left.no-padding-right
        #graduates-list.panel.panel-default.tab-pane.active
          .panel-heading Список выпускников
          .panel-body
            include includes/graduates

        #add-graduate.panel.panel-default.tab-pane
          .panel-heading Добавить выпускника
          .panel-body
            include includes/add_graduate

