#footer
  .footer__content
    p.footer__anotation
      a.menu-item__button(href='http://imit.omsu.ru', target='_blank') 2014 ИМИТ ОмГУ им. Ф. М. Достоевского
    .footer__contacts
      p.text-contacts.margin-bottom-7
        | деканат:
        span.number-contacts  64-42-38,  22-56-96
      p.text-contacts
        | приемная комиссия:
        span.number-contacts  22-97-72
    .footer__social
      a.social__button(href='http://vk.com/imit_omsu', target='_blank')
        img.social__button__logo-livejournal(src='img/vk.png', alt='vk')
      a.social__button(href='http://imit_omsu.livejournal.com', target='_blank')
        img.social__button__logo-vk(src='img/livejournal.png', alt='lj')
      a.social__button(href='https://www.youtube.com/user/IMITOmsk', target='_blank')
        img.social__button__logo-youtube(src='img/youtube.png', alt='lj')