p
  b
    | - Владимир Борисович, расскажите пожалуйста, как вы
    | решили стать математиком?
  p
    | - У меня был судьбоносный поворот. Учился я в школе,
    | в 10 классе - а тогда это был выпускной
    | класс - и после одной из контрольных по математике,
    | наш учитель, а также классный
    | руководитель Николай Иванович Тихомиров начал нас
    | воспитывать. Воспитывал он достаточно
    | резко и один из тезисов у него был такой «И вообще
    | , ни один из вас в университет не поступит!»
    | А надо понимать, что означало слово «университет»
    | в то время. В Омске университета не было,
    | ближайший - это новосибирский, чуть дальше - в Томске.
    | Я слушал его и думал: «Ко мне эти
    | тирады не относятся, у меня-то контрольная хоть как-
    | то написана. А то, что никто не поступит из
    | нас в университет – это, вы, уважаемый Николай
    | Иванович, наверное, неправильно
    | сформулировали». Это и было переломным моментом. Я
    | понимал, что из всех школьных
    | предметов (в то время по школьным предметам выбирали)
    | какие-то мне просто не ложатся в
    | душу, а некоторые я воспринимаю. И как-то сама собой
    | пришла мысль идти на матфак. А дальше
    | уже все, поступил на матфак - хоть убей...
  p
    b - Что в Вашей профессии Вам нравится больше всего?
  p
    | - Да у меня профессия, видите ли, сейчас странная -
    | с людьми общаться. А профессия
    | математика... Грубо говоря, некоторая возможная честность.
    | Вот есть у тебя утверждение. Ты его
    | можешь либо доказать и тогда оно истинно, либо ты
    | его не можешь доказать и тогда надо к нему
    | относиться соответствующим образом. В некоторых
    | книжках пытаются систематизировать, чем
    | хороша математика и какие-то выражения очень в душу
    | ложатся. А в принципе в математике мне
    | нравится устойчивость математических утверждений,
    | инвариантность по отношению к
    | официально(?) экономическим и прочим преобразованиям.
  p
    b - Каким должен быть, на ваш взгляд, идеальный студент?
  p
    | - Идеальных не бывает! В одной книжке я цитату вычитал:
    | «Студент, он со всячинкой бывает, но
    | его, подлеца, любить надо!» Вот идеальный студент -
    | это такой, которого хочется любить!
  p
    b
      | - А какой самый смешной случай произошел у вас на парах?
  p
    | - Не то, чтобы смешной, но имеющий некоторый резонанс.
    | Было это достаточно давно, пирожные
    | тогда стоили 22 копейки. Прихожу я на семинарское
    | занятие, сидят студенты и несколько человек
    | из них продолжают есть пирожные, а это нарушало
    | академическую атмосферу. Я решил, что мне
    | тоже ничего не мешает достать из кармана 22 копейки,
    | дойти до буфета, купить пироженку и
    | демонстративно ее поедать. У меня такая реакция была
    | и я ее воплотил. Ну а потом, по-моему,
    | даже на пресс-конференции Георгия Петровича Кукина
    | спрашивали: «Как вы относитесь к
    | преподавателю, который, увидев студентов с пирожными
    | на паре, тоже купил себе пирожное и
    | начал его есть?» Георгий Петрович одобрил этот
    | поступок и сказал, что гордится таким
    | преподавателем. При этом ни в вопросе, ни в ответе
    | я не назывался.
  p
    b - Что важнее: хороший план или спонтанность?
  p
    | - Как говорится, любой экспромт должен быть тщательно
    | подготовлен. Хороший план, безусловно,
    | нужен, но все нужно делать с учетом изменившихся
    | обстоятельств. Ты можешь составить любой,
    | совершенно изумительный, план, а потом либо вводные
    | меняются, либо внешние или внутренние
    | условия и, соответственно, ты просто обязан
    | перестраиваться. Но если дело того стоит,
    | планировать надо так, чтобы никакие форс-мажорные
    | обстоятельства не могли заставить тебя
    | свернуть с правильного пути. Тем не менее, если мы
    | что-то делаем, то надо делать так, чтобы и
    | смысл был в процессе достижения цели, и мы не
    | потеряли чего-нибудь важного.***
  p
    b
      | - Если бы у вас была возможность задать вопрос
      | известной личности, то кому бы вы его задали и
      | что спросили?
  p
    | - Как-то никогда у меня не возникало такой фантазии
    | , чтобы у кого что спросить... Дело в том, что я
    | сам знаю ответ на мой вопрос. Мне не надо ничего
    | спрашивать. Я ответы примерно все знаю.
    | Другое дело, что они мне не нравятся. Нет, я бы ни
    | у кого не хотел ничего спрашивать.
  p
    b
      | - Есть ли у вас книга, которую вы постоянно
      | перечитываете и она вам нравится?
  p
    | - Конечно! Парочку я сразу назову. У меня есть две
    | любимые книжки, которые я действительно
    | перечитываю. Это книжка А.Н.Крылова «Мои воспоминания»
    |  - замечательная книга, всем ее
    | рекомендую прочитать! А вторая книжка - это книга «В
    | августе 44-го» Богомолова. Это
    | действительно те книжки, которые я постоянно
    | перечитываю. Открываю на любой странице и не
    | могу удержаться - дочитываю до конца.
  p
    b - Какое блюдо Вы не променяли бы ни на что на свете?
  p
    | - В 10 классе все время пытались организовать
    | школьное питание. И в какой-то момент, нас
    | спросили: «Что бы вы хотели, чтобы было в меню
    | школьного буфета?». Я помню, что я тогда
    | написал - я тогда любил теплый хлеб с холодным
    | маслом и с холодным молоком. С тех пор мой
    | организм перестал воспринимать молоко, а вот от
    | теплого хлеба, иногда с куском масла,
    | отказаться трудно. А так есть много хороших блюд
    | типа жареной картошки.
  p
    b - То есть Вы не привередливы в еде?
  p
    | - Нет! А зачем мне быть привередливым? Знаете, как
    | говориться, это излишние понты. Так что это
    | совсем не нужно в жизни.
  p
    b - Что Вы можете пожелать студентам?
  p
    | - Стандартно, наверное. Найти в жизни дело, которое
    | ему будет нравиться. Заодно могу сообщить
    | определение счастья. Знаете, что это такое? Я вот одно
    | определение знаю, оно мне страшно нравится. Есть,
    | конечно, и научное... Но! Счастье - это, когда места, где
    | работаешь и где зарабатываешь, совпадают.
  p
    b - Это идеально! А вы счастливы?
  p - Да!
  p
    b - Можете напоследок рассказать анекдот?
  p
    | - Одна из моих любимых историй - про математика и
    | менеджера и воздушный шар, но ее все
    | знают... Когда-то меня позвали на телевидение, где я
    | вдумчиво объяснял, что анекдоты все
    | возникают из некорректных постановок задач, то есть
    | решение существует, но оно не
    | единственно и обычные люди всех вариантов предусмотреть
    | не могут. Вот математика - это наука
    | про что? Про то, как предусмотреть все варианты,
    | начиная от выбора корректности. Начинаешь
    | ты решать задачу и должен знать, что решение
    | существует, оно единственно и так далее, тогда все
    | остальные воздействия на доказательство теоремы не
    | влияют. Это так и по-другому быть не может. А когда
    | филологически вопрос формулируется так, что там
    | слишком много вариантов для интерпретации, это иногда
    | и вызывает сложность у людей при общении с математикой.
    | Потому что математика иногда прямо отвечают на поставленный
    | вопрос, а это народу не нравится, или, наоборот, отвечают
    | так, что вообще ничего не понятно... А анекдот... Был
    | случай: я рассказывал что-то торжественно на телевидении
    | и ко мне пристал и «Анекдот-анекдот», а я должен был идти
    | лекцию читать. Я им рассказал, а они говорят: «Нет,
    | давайте что-нибудь другое...». Потому что
    | анекдот я им такой рассказал: «В связи с сокращением
    | штатов, счетная палата переименована в
    | конечную».
  p
    | *** Владимир Борисович Николаев любит выражение:
    | «Закладываться на четвертого валета»
    | (понятие из преферанса). Декан отмечает, что, конечно,
    | бывают случаи и вылезает пятый, но это
    | бывает крайне редко; иногда удается до четвертого дойти.
