p Ваша заявка на регистрацию администратором на сайте ИМИТ
  ul
    li #{email}
    li #{firstName}
    li #{lastName}
p Была одобрена. Вы можете начать работу, зайдя в администраторскую часть сайта по
  a(href="#{adminLink}") ссылке

