extends ../layouts/admin-layout

block append head
  title="Вход для администратора системы"

block content
  form.form-horizontal(method="post")
    fieldset
      legend Вход

      .control-group
        label.control-label(for='textinput') Login
        .controls
          input#textinput.input-xlarge(name='textinput', placeholder='Username', type='text')
          if errors.username
            span.red=errors.username
      .control-group
        label.control-label(for='passwordinput') Password
        .controls
          input#passwordinput.input-xlarge(name='passwordinput', placeholder='Password', type='password')
          if errors.password
            span.red=errors.password
      .control-group
        input(type="hidden", name="_csrf", value="#{_csrf}")
      .control-group
        label.control-label(for='singlebutton')
        .controls
          button#singlebutton.btn.btn-primary(name='singlebutton') Login