extends ../layouts/admin-layout

block append head
  title="Установка нового пароля взамен забытого"

block content
  .col-sm-4
  .col-sm-2.js-ajax-form
    div(style="height:100px")
    form.form-horizontal(method="post", autocomplete="off", data-ajax-url="new-password.json")
      .ajax-wrapper
        .loader.transparent.without-height
        .alert.alert-success.js-success-msg.ajax-form-msg
        .alert.alert-danger.js-error-msg.ajax-form-msg
        .form-group
          legend Установите новый пароль
        .form-group
          .js-field-error.js-code-error-wrap.red
          label(for='password') Пароль
          input#password.form-control(name='password', placeholder='Пароль', type='password')
          .js-field-error.js-password-error-wrap.red
        .form-group
          label(for='password-repeat') Повторите пароль
          input#password-repeat.form-control(name='passwordRepeated', placeholder='Пароль', type='password')
          .js-field-error.js-passwordRepeated-error-wrap.red
        .form-group
          input(type="hidden", name="code", value="#{restoreCode}")
          input(type="hidden", name="_csrf", value="#{_csrf}")
        .form-group
          button.btn.btn-default(name='submit') Установить пароль