extends ../layouts/admin-layout

block append head
  title="Подача заявки на администрирование"

block content
  .col-sm-4
  .col-sm-2.js-admin-register
    div(style="height:100px")
    form.form-horizontal(method="post", data-ajax-url="register.json")
      .alert.alert-success.js-success-msg.ajax-form-msg
      .alert.alert-danger.js-error-msg.ajax-form-msg
      .form-group
        legend Подать заявку
      .form-group
        label(for='email') Email адрес
        input#email.form-control(name='email', placeholder='Email адрес', type='text')
        .js-field-error.js-email-error-wrap.red
      .form-group
        label(for='password') Пароль
        input#password.form-control(name='password', placeholder='Пароль', type='password')
        .js-field-error.js-password-error-wrap.red
      .form-group
        label(for='password-repeat') Повторите пароль
        input#password-repeat.form-control(name='passwordRepeated', placeholder='Пароль', type='password')
        .js-field-error.js-passwordRepeated-error-wrap.red
      .form-group
        label(for='first-name') Имя
        input#first-name.form-control(name='firstName', placeholder='Имя', type='text')
        .js-field-error.js-firstName-error-wrap.red
      .form-group
        label(for='last-name') Фамилия
        input#last-name.form-control(name='lastName', placeholder='Фамилия', type='text')
        .js-field-error.js-lastName-error-wrap.red
      .form-group
        input(type="hidden", name="_csrf", value="#{_csrf}")
        a(href='login') Войти
      .form-group
        button.btn.btn-default(name='submit') Запросить доступ