extends ../layouts/main-layout

block append head
  title="Контакты - Институт Математики и Информационных Технологий (Омск)"
  script(src='http://maps.api.2gis.ru/1.0')

block content
  include ../includes/header
  #content
    h3 Деканат
    h4 Адрес:
    p г. Омск, пр. Мира 55а, первый корпус ОмГУ, каб. 217
    //
      div id="map" style="width: 960px; height: 450px;"></div
    a#firmsonmap_biglink(href='http://maps.2gis.ru/#/?history=project/omsk/center/73.26727731995,55.030393031393/zoom/16/state/widget/id/282003257820760/firms/282003257820760') Перейти к большой карте
    script(charset='utf-8', type='text/javascript', src='http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js')
    script(charset='utf-8', type='text/javascript').
      var myMap = new DGWidgetLoader(
      {
      "borderColor":"#a3a3a3",
      "width":"960",
      "height":"450",
      "wid":"db25d776e1daa5c271996bd66ccdbede",
      "pos":{
      "lon":"73.26727731995",
      "lat":"55.030393031393",
      "zoom":"16"
      },
      "opt":{
      "ref":"hidden",
      "card":["name","contacts","schedule"],
      "city":"omsk"
      },
      "org":[{"id":"282003257820760"}]
      });
    noscript(style='color: #c00; font-size: 16px; font-weight: bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
    h4 Телефоны:
    p (3812) 64-42-38, (3812) 22-56-96
    h4 Часы работы:
    p с 9.00 до 17.00(кроме субботы и воскресенья)
    h4 Сотрудники:
    ul
      li
        p
          b Николаев Владимир Борисович
          | - директор ИМИТ
      li
        p
          b Еремеев Леонид Геннадьевич
          | - заместитель директора по производственной работе
      li
        p
          b Кукина Екатерина Георгиевна
          | - заместитель директора по учебной работе
      li
        p
          b Латыпов Ильяс Абдульхаевич
          | - председатель методической комиссии
      li
        p
          b Пичугина Анна Николаевна
          | - заместитель директора по работе с абитуриентами
      li
        p
          b Жилова Юлия Валерьевна
          | - секретарь деканата
    h4 Email:
    p
      | Николаев Владимир Борисович
      a(href='mailto:nikolaevvb@e-mail.omsu.ru?subject=From site imit') nikolaevvb@e-mail.omsu.ru
    h4 Социальные сети:
    p
      span.text__logo-livejournal
        img(src='img/vk.png', alt='vk')
      a(href='http://vk.com/imit_omsu', target='_blank') группа Вконтакте
    p
      span.text__logo-vk
        img(src='img/livejournal.png', alt='lj')
      a(href='http://imit_omsu.livejournal.com', target='_blank') неофициальный блог ИМИТ
    p
      span.text__logo-youtube
        img(src='img/youtube.png', alt='lj')
      a(href='https://www.youtube.com/user/IMITOmsk', target='_blank') канал на Youtube
    h3 Приемная комиссия
    h4 Адрес:
    p г. Омск, пр. Мира 55, второй корпус ОмГУ, каб.119
    h4 Телефон:
    p (3812) 22-97-72
    h4 Часы работы:
    p с 9.00 до 17.00(кроме субботы и воскресенья);
    p обед 12:30 - 13:00
  include ../includes/footer
