extends ../layout

block append head
  title="Хочу поступить - Институт Математики и Информационных Технологий (Омск)"

block content
  #header
    .header__content
      .header__light
      .header__social
        a.social__button(href='http://vk.com/imit_omsu', target='_blank')
          img.social__button__logo-livejournal(src='img/vk.png', alt='vk')
        a.social__button(href='http://imit_omsu.livejournal.com', target='_blank')
          img.social__button__logo-vk(src='img/livejournal.png', alt='lj')
        a.social__button(href='https://www.youtube.com/user/IMITOmsk', target='_blank')
          img.social__button__logo-youtube(src='img/youtube.png', alt='lj')
      h1.header__title1 Омский государственный университет им. Ф. М. Достоевского
      h2.header__title2 Институт Математики и Информационных Технологий
      a(href='index.html', title='На главную')
        img#logo(src='img/logo.png', alt='ИМИТ')
      ul.menu
        li.menu-item
          a#hope__study.menu-item__button(href='go_to_university.html') Хочу поступить!
        li.menu-item
          a.menu-item__button(href='graduates.html') Выпускники
        li.menu-item
          a.menu-item__button(href='interesting.html') Это интересно
        li.menu-item
          a.menu-item__button(href='contacts.html') Контакты
      .header__contacts
        p.text-contacts
          | деканат:
          span.number-contacts  64-42-38
        p.text-contacts
          | приемная комиссия:
          span.number-contacts  22-97-72
  .header-bottom
  #content
    h3 Специальности
    .article
      ul.article-list
        li.article-list__item
          .article-list__img
            img(src='img/math_and_inform-white.png')
          br
          h3 Прикладная математика и информатика
          .margin-left-80
            p
              | Вступительные экзамены (ЕГЭ):
              br
              br
            ul
              li
                p
                  b Математика
              li
                p
                  b Физика
              li
                p
                  b Русский язык
            p
              br
              | Срок обучения:
              b 4 года
            p
              | Количество бюджетных мест:
              b 80
        li.article-list__item
          .article-list__img
            img(src='img/math_and_inform_teach-white.png')
          br
          h3 Магистратура (прикладная математика и информатика)
          .margin-left-80
            p
              | Вступительные экзамены:
              br
              br
            ul
              li
                p
                  b Собеседование
            p
              br
              | Срок обучения:
              b 2 года
            p
              | Количество бюджетных мест:
              b 14
    p
      | Победители и призеры
      b олимпиад школьников
      | имеют преимущества при поступлении (уточняйте в приемной комиссии).
    h3 Правила приема
    p Прием документов на первый курс с 20 июня по 25 июля.
    p
      a(href='http://abit.omsu.ru/abitpage/dokumenty.html', target='_blank') Официальные правила приема в ОмГУ
    p
      a(href='http://abit.omsu.ru/', target='_blank') Портал приемной комиссии ОмГУ
    h4 Перечень документов:
    ul
      li
        p оригинал или ксерокопия документов, удостоверяющих личность, гражданство;
      li
        p оригинал или ксерокопия документа государственного образца об образовании;
      li
        p 4 фотографии 3х4;
      li
        p заявление;
    //
      div class="all-stories">Подать заявление</div
    h3 Как готовиться?
    h4 Профориентационная школа Института Математики и Информационных технологий
    .article
      img.article__img(src='img/chmsh.png')
      .article-content
        p
          | Профориентационная школа Института Математики и Информационных технологий, она же четверговая математическая школа (ЧМШ), для ребят
          b 6-11 классов
          | по направлениям
          b Математика
          | и
          b Информатика
          | .
        br
        p
          | Учебный год состоит из двух семестров и длится с октября по май.
          | Обучение платное. Организационное собрание проводится в сентябре.
          | Занятия начинаются с 1 октября.
        p
          | Занятия в старших классах проводят преподаватели ОмГУ.
          | Учебные программы уделяют особое внимание Единому государственному экзамену (11 класс)
          | и Государственной итоговой аттестации (9 класс).
        br
        p Дополнительную информацию можно узнать тут:
        p
          a(href='http://vk.com/club2976097', target='_blank') Вконтакте
        p
          a(href='http://omsu.ru/page.php?id=3067', target='_blank') Сайт ОмГУ
        p
          | Записаться в Четверговую математическую школу можно по адресу:
          b Мира, 55а, 1 корпус ОмГУ, ауд. 128
          br
          | или по телефонам:
          b 22-56-96, 26-97-73, 8-913-966-7651
          | .
    br
    h4 Школа Гуманитарных и точных наук ОЦ "Перспектива"
    .article
      img.article__img(src='img/perspektiva.jpg')
      .article-content
        p
          | Подготовительные курсы для учеников младших и старших классов.
        br
        p
          | Подробная информация о подготовительных курсах на
          a(href='http://perspektiva-omsk.ru/', target='_blank') сайте ОЦ "Перспектива"
          | .
    br
    h4 Подготовительные курсы
    .article
      img.article__img(src='img/study.png')
      .article-content
        p
          | Ведется набор слушателей на подготовительные курсы для учащихся 9, 10 и 11 классов по подготовке к профильным предметам,
          | а так же ГИА и ЕГЭ. Занятия проводят опытные преподаватели ОмГУ.
        br
        p
          | Подробная информация о подготовительных курсах на
          a(href='http://www.cdpp.omsu.ru/cdpp/cdpp.htm', target='_blank') сайте Центра довузовской подготовки и профориентации
          | .
        p
          | Записаться можно по адресу:
          b пр. Мира 55, 2 корпус ОмГУ, павильон ЦДПП ОмГУ.
        p
          | Телефоны для справок:
          b 26-97-99, 26-97-65
    br
    br
  #footer
    .footer__content
      p.footer__anotation
        a.menu-item__button(href='http://imit.omsu.ru', target='_blank') 2014 ИМИТ ОмГУ им. Ф. М. Достоевского
      .footer__contacts
        p.text-contacts.margin-bottom-7
          | деканат:
          span.number-contacts  64-42-38,  22-56-96
        p.text-contacts
          | приемная комиссия:
          span.number-contacts  22-97-72
      .footer__social
        a.social__button(href='http://vk.com/imit_omsu', target='_blank')
          img.social__button__logo-livejournal(src='img/vk.png', alt='vk')
        a.social__button(href='http://imit_omsu.livejournal.com', target='_blank')
          img.social__button__logo-vk(src='img/livejournal.png', alt='lj')
        a.social__button(href='https://www.youtube.com/user/IMITOmsk', target='_blank')
          img.social__button__logo-youtube(src='img/youtube.png', alt='lj')
