extends ../layout

block append head
  title="Это интересно - Институт Математики и Информационных Технологий (Омск)"
block content
  include ../includes/header
  #content
    h3 Неделя математика
    .article
      a(href='http://mathsweekomsk.blogspot.ru/', target='_blank')
        img.article__img(src='img/math_week.jpg')
      .article-content
        p
          | Лучшая неделя в году, квинтэссенция юмора и интеллектуальных забав, встречайте - Неделя Математика!
          br
          a(href='http://mathsweekomsk.blogspot.ru/', target='_blank') Подробнее...
    br
    br
    h3 Турнир претендентов
    .article
      a(href='https://sites.google.com/site/turpret/', target='_blank')
        img.article__img(src='img/turpret.jpg')
      .article-content
        p
          b Самое зрелищное событие уходящего года.
        p
          | Бывшие школьники - теперь самые умные, находчивые и талантливые студенты ИМИТ ОмГУ - будут весь вечер удивлять вас всем, что приготовили за два с половиной месяца общения друг с другом. В этом им помогали и наставляли их на путь истинный старшекурсники.
          a(href='https://sites.google.com/site/turpret/', target='_blank') Подробнее...
  include ../includes/footer
